---
layout: default
title: Endless Sky screenshots.
---
<h2 class="header">Screenshot Gallery</h2>
<div class="gallery">
{% for image in site.screenshots %}
	<img class="gallery-thumb" onclick="openLightbox(this)" src="{{ image.src }}" title="{{ image.title }}" alt="{{ image.alt }}" />
{% endfor %}
	<div id="lightbox-back" onclick="closeLightbox()">
		<div id="lightbox">
			<img id="lightbox-image" />
			<div id="lightbox-previous" onclick="previousLightbox(event);">
				<img id="lightbox-previous-arrow" src="/images/lightbox-previous.svg" />
			</div>
			<div id="lightbox-next" onclick="nextLightbox(event);">
				<img id="lightbox-next-arrow" src="/images/lightbox-next.svg" />
			</div>
		</div>
		<br />
		<div id="lightbox-caption-back">
			<p id="lightbox-title"></p>
			<p id="lightbox-caption"></p>
		</div>
	</div>
</div>

<h2 class="header">Artwork / Wallpapers</h2>
<div class="gallery">
{% for image in site.artwork %}
	<a href="{{ image.full }}"><img class="gallery-thumb" src="{{ image.thumb }}" title="{{ image.alt }}" alt="{{ image.alt }}" /></a>
{% endfor %}
</div>

