<!DOCTYPE html>
<html><head><title>{{ page.title }}</title>
<link rel="alternate" type="application/rss+xml" title="Endless Sky RSS" href="/feed.xml">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" />
<link  href="/main.css" type="text/css" rel="stylesheet" />
<script src="/main.js" async></script>
</head>

<body>

<div class="title">
	<a href="/"><img class="shadowed" src="/images/title.svg" width="210" height="180" /></a>
</div>

<div class="nav-image">
	<img class="shadowed" src="/images/menu.svg" width="200" height="400" />
</div>
<div class="nav-text">
	<a href="/">Introduction</a><br />
	<a href="/blog.html">Blog</a><br />
	<a href="/screenshots.html">Screenshots</a><br />
	<a href="/plugins.html">Plugins</a><br />
	&nbsp;<br />
	<a href="https://github.com/endless-sky/endless-sky/releases">Downloads</a><br />
	<a href="https://github.com/endless-sky/endless-sky/wiki/PlayersManual">Manual</a><br />
	<a href="https://github.com/endless-sky/endless-sky/wiki">Wiki</a><br />
	<a href="https://github.com/endless-sky/endless-sky/issues">Bug Reports</a><br />
	<a href="https://github.com/endless-sky/endless-sky-editor/releases">Map Editor</a><br />
	<a href="https://groups.google.com/forum/#!forum/endless-sky">Forum</a><br />
</div>

<div class="doodad">
	<img class="shadowed" src="/images/doodad.svg" width="100" height="380" />
</div>

<div class="main">
{{ content }}
</div>

<img class="centered shadowed" src="/images/compass.svg" width="140" height="140" />

</body>
</html>
